/* Шрифты */
@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  src: local("Roboto"),
       url("../fonts/Roboto-Bold.woff2") format("woff2"),
       url("../fonts/Roboto-Bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: medium;
  font-weight: 500;
  src: local("Roboto"),
       url("../fonts/Roboto-Medium.woff2") format("woff2"),
       url("../fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"),
       url("../fonts/Roboto-Regular.woff2") format("woff2"),
       url("../fonts/Roboto-Regular.woff") format("woff");
}

/* Переменные */

:root {
  --basic-font-black: #000000;
  --basic-font-darc: #283136;
  --basic-font-gray: #444444;
  --basic-font-light: #666666;
  --basic-font-white: #ffffff;

  --basic-gray:  #EEEEEE;
  --basic-gray-social: #E1E1E1;
  --basic-gray-slider-btn: #C1C1C1;
  --basic-gray-catalog: #4D4D4D;
  --basic-gray-form: #D7DCDE;
  --basic-gray-form-hover: #B4B9BB;
  --basic-gray-form-scale: #D7DCDF;
  --basic-gray-form-toggle: #ABABAB;
  --basic-gray-form-radio: #4D4D4D;
  --basic-gray-form-btn-hover: #DFDFDF;
  --basic-gray-form-btn-active: #D5D5D5;


  --special-red: #FB565A;
  --special-red-hover: #E74246;
  --special-red-active: #D7373B;
  --special-green: #00CA74;
  --special-green-hover: #00BC6C;
  --special-green-active: #00AA62;
  --special-yellow: #EFC849;
  --special-yellow-hover: #EAB534;
  --special-yellow-active: #E5A722;
}

/* Глобальные стили */
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  color: var(--basic-font-darc);

  background-color: var(--basic-white);
}

.main-container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

/* Header */

.main-header {
  padding-top: 50px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;

  background-color: var(--basic-gray);
}

.main-header__nav {
  display: grid;
  align-items: center;
  grid-template-columns: 160px 1fr min-content;
}

.main-header__logo[href]:hover {
  opacity: 0.3;
}

.site-nav {
  margin: 0;
  padding: 0;
  padding-left: 202px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.site-nav__item:not(:last-child) {
  margin-right: 44px;
}

.site-nav__item:nth-child(2) {
  margin-right: 48px;
}

.site-nav__link,
.user-nav__link {
  color: var(--basic-font-black);
}

.site-nav__link:hover,
.user-nav__link:hover,
.site-nav__link:focus,
.user-nav__link:focus {
  color: var(--special-red);
}

.site-nav__link:active,
.user-nav__link:active {
  color: var(--basic-font-black);
  opacity: 0.3;
}

.site-nav__link_active {
  position: relative;
}

.site-nav__link_active::before,
.user-nav__link_active::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -20px;

  height: 2px;

  background-color: var(--special-red);
}

.user-nav__link {
  width: 115px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-nav__icon{
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Слайдер */

.slider {
  background-color: var(--basic-gray);
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  padding-top: 65px;
  padding-bottom: 80px;
}

.slider__title {
  width: 550px;
  margin: 0;
  margin-bottom: 37px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-font-black);
}

.slider__description {
  width: 550px;
  margin: 0;
  margin-bottom: 25px;
}

.slider__button {
  box-sizing: border-box;
  width: 240px;
  padding: 16px;
  text-align: center;
  display: block;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-font-white);
  background-color: var(--special-red);
  border-radius: 3px;
}

.slider__button:hover,
.slider__button:focus {
  background-color: var(--special-red-hover);
}

.slider__button:active {
  background-color: var(--special-red-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.slider__button:active span{
  opacity: 0.3;
}

.slider__item_1 {
  background-image: url(../img/nerds-index-slide-1.png);
  background-repeat: no-repeat;
  background-position: right;
}

.slider__item_2 {
  background-image: url(../img/nerds-index-slide-2.png);
  background-repeat: no-repeat;
  background-position: right;
}

.slider__item_3 {
  background-image: url(../img/nerds-index-slide-3.png);
  background-repeat: no-repeat;
  background-position: right;
}

/* Swiper */

.swiper-container {
  position: relative;
  width: 1160px;
  padding: 0;
}

.slider .swiper-pagination {
  height: min-content;
  top: 305px;
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--basic-font-white);
  opacity: 1;
}

.slider .swiper-pagination-bullet:not(:last-child) {
  margin-right: 13px;
}

.swiper-pagination-bullet-active::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid var(--basic-gray-slider-btn);
  position: absolute;
  top: 5px;
  left: 5px;
}

.main__slider {
  margin-bottom: 80px;
}

/* Services */

.services {
  padding-bottom: 80px;
  margin-bottom: 40px;
  border-bottom: 2px solid var(--basic-gray);
}

.services__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 33,33;
  list-style: none;
}

.services__item {
  max-width: 300px;
}

.services__item:not(:nth-child(3n)) {
  margin-right: 100px;
}

.services__img {
  margin-bottom: 25px;
}

.services__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-font-black);
  text-transform: uppercase;
}

.services__description{
  margin: 0;
  margin-bottom: 30px;
}

.services_btn {
  display: inline-block;
  text-align: center;
  padding: 16px 40px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-font-white);
  text-transform: uppercase;
}

.services_btn_red {
  background-color: var(--special-red);
}

.services_btn_green {
  background-color: var(--special-green);
}

.services_btn_yellow {
  background-color: var(--special-yellow);
}

.services_btn_red:hover,
.services_btn_red:focus {
  background-color: var(--special-red-active);
}

.services_btn_green:hover,
.services_btn_green:focus {
  background-color: var(--special-green-hover);
}

.services_btn_yellow:hover,
.services_btn_yellow:focus {
  background-color: var(--special-yellow-hover);
}

.services_btn_red:active {
  background-color: var(--special-red-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.services_btn_green:active {
  background-color: var(--special-green-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.services_btn_yellow:active {
  background-color: var(--special-yellow-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.services_btn_red:active span,
.services_btn_green:active span,
.services_btn_yellow:active span {
  opacity: 0.3;
}

/* About Us */

.about-us {
  padding-bottom: 75px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--basic-gray);
}

.about-us__wrapper-left {
  padding-top: 35px;
  width: 700px;
}

.about-us__slogan {
  display: block;
  margin-bottom: 30px;
  font-size: 45px;
  line-height: 1;
  font-weight: 500;
  color: var(--basic-font-black);
}

.about-us__description {
  margin-top: 0;
  margin-bottom: 40px;
}

.about-us__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-us__list {
  margin: 0;
  padding: 0;
  padding-left: 37px;
  list-style: none;
}

.about-us__item {
  position: relative;
}

.about-us__item:not(:last-child) {
  margin-bottom: 25px;
}

.about-us__item::before {
  content: "";
  position: absolute;
  left: -37px;
  top: 50%;
  transform: translateY(-1px);
  width: 25px;
  height: 2px;
  background-color: var(--special-red);
}

.about-us__wrapper-right {
  width: 360px;
}

.about-us__img {
  margin-bottom: 15px;
}

.about-us__table-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.table__header {
  font-size: 45px;
  line-height: 75px;
  font-weight: 700;
  color: var(--basic-font-black);
}

.table__header td {
  padding-right: 20px;
}

.table__header sup {
  font-size: 26px;
  line-height: 40px;
}

.table__footer {
  line-height: 18px;
}

/* Partners */

.partners {
  padding-top: 45px;
  padding-bottom: 35px;
  margin-bottom: 80px;
  border-bottom: 2px solid var(--basic-gray);
}

.partners__list {
  padding: 0;
  margin: 0;
  padding-left: 30px;
  padding-right: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.partners__link {
  opacity: 0.2;
}

.partners__link:hover,
.partners__link:focus {
  opacity: 1;
}

.partners__link:active {
  opacity: 0.1;
}

/* Footer */

.footer-contacts {
  position: relative;
}

.footer__img-map {
  position: absolute;
  height: 416px;
  z-index: -1;
}

.footer__contacts-wrapper{
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-580px);
  padding: 50px;
  max-width: 320px;
  background-color: var(--basic-font-white);
}

.footer__contacts-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
}
.footer__contacts-adress {
  margin-top: 0;
  margin-bottom: 10px;
}
.footer__contacts-tel {
  display: block;
  margin-bottom: 33px;
  color: var(--basic-font-darc);
}

.footer__contacts-btn {
  display: inline-block;
  padding: 16px 44px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-font-white);
  border: none;
  background-color: var(--special-red);
  cursor: pointer;
}

.footer__contacts-btn:hover,
.footer__contacts-btn:focus {
  background-color: var(--special-red-hover);
}

.footer__contacts-btn:active {
  background-color: var(--special-red-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.footer__contacts-btn:active span {
  opacity: 0.3;
}

.social{
  padding: 60px 0;
  display: flex;
  align-items: center;
}

.social__wrapper-left{
  min-width: 260px;
  margin-right: 140px;
}

.social__list{
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.social__link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--basic-gray-social);
}

.social__icon-vk{
  display: block;
  width: 26px;
  height: 15px;
  background-image: url(../img/vk.svg);
}

.social__icon-fb{
  display: block;
  width: 12px;
  height: 22px;
  background-image: url(../img/fb.svg);
}

.social__icon-inst{
  display: block;
  width: 21px;
  height: 21px;
  background-image: url(../img/inst.svg);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--special-red-hover);
}

.social__link:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social__link:active span {
  opacity: 0.3;
}

.social__slogan{
  display: inline-block;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 1;
  font-weight: 700;
}

.social__text{
  margin: 0;
}

.modal {
  display: none;
  position: fixed;
  bottom: 180px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  box-sizing: border-box;
  width: 960px;
  margin: auto;
  padding: 65px 100px 85px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  background-color: var(--basic-font-white);
}

.modal_show {
  display: block;
}

.modal__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 45px;
  line-height: 1;
  font-weight: 700;
  color: var(--basic-font-black);
}

.modal__wrapper {
  display: flex;
  margin-bottom: 35px;
}

.modal__item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__item:not(:last-child) {
  margin-right: 40px;
}

.modal__label {
  margin-bottom: 9px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-font-black);
}

.modal__input {
  padding: 16px;
  width: 360px;
  height: 50px;
}

.modal__input,
.modal__textarea {
  box-sizing: border-box;
  border: 2px solid var(--basic-gray-form);
}

.modal__input::placeholder,
.modal__textarea::placeholder {
  color: var(--basic-font-black);
  opacity: 0.5;
}

.modal__input:hover,
.modal__textarea:hover {
  border: 2px solid var(--basic-gray-form-hover);
}

.modal__input:focus,
.modal__textarea:focus {
  border: 2px solid var(--basic-font-black);
}

.modal__input:focus::placeholder,
.modal__textarea:focus::placeholder {
  opacity: 1;
}

.modal__input:not(:focus):invalid,
.modal__textarea:not(:focus):invalid {
  border: 2px solid var(--special-red);
}

.modal__input:not(:focus):invalid,
.modal__textarea:not(:focus):invalid {
  color: red;
}

.modal__textarea {
  width: 760px;
  height: 118px;
  margin-bottom: 45px;
  padding: 16px;
  resize: none;
}

.modal__btn-submit {
  padding: 16px 83px;
  line-height: 18px;
  color: var(--basic-font-white);
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  background-color: var(--special-red);
  cursor: pointer;
}

.modal__btn-submit:hover,
.modal__btn-submit:focus {
  background-color: var(--special-red-hover);
}

.modal__btn-submit:active {
  background-color: var(--special-red-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.modal__btn-submit:active span {
  opacity: 0.3;
}

.modal__btn-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  background-image: url(../img/close.svg);
  cursor: pointer;
  opacity: 0.3;
}

.modal__btn-close:hover,
.modal__btn-close:focus {
  opacity: 1;
}

.modal__btn-close:active {
  opacity: 0.1;
}

/* Страница catalog */

.catalog-main .main-container{
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-column-gap: 140px;
}

.catalog-main__title {
  margin: 0;
  margin-bottom: 55px;
  padding-top: 65px;
  padding-bottom: 110px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  background-color:var(--basic-gray);
}

.filter__item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 35px;
}

.filter__item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.filter__item-range {
  margin-bottom: 55px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  background-color: var(--basic-gray);
  border-radius: 5px;
}

.scale {
  height: 2px;
  background-color: var(--basic-gray-form-scale);
}

.bar {
  width: 70%;
  height: 2px;
  background-color: var(--special-green);
}

.toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-font-white);
  background-color: var(--basic-gray-form-toggle);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.toggle-min {
  left: 18px;
}

.toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  text-align: center;
  color: var(--basic-font-black);
  border: none;
  border-radius: 5px;
  background-color: var(--basic-gray);
  font: inherit;
  font-size: inherit;
}

.filter__item-grid {
  margin-bottom: 50px;
}

.filter__item-features {
  margin-bottom: 50px;
}

.filter__legend {
  margin-bottom: 15px;
}

.grid-list,
.features-list {
  margin: 0;
  padding: 0;
  padding-left: 35px;
  list-style: none;
}

.grid-item:not(:last-child),
.features-item:not(:last-child) {
  margin-bottom: 15px;
}

.grid-label,
.features-label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}


.grid-radio + label::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: -35px;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 4px solid var(--basic-gray-form-radio);
  opacity: 0.4;
}

.grid-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -27px;
  top: 8px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--basic-gray-form-radio);
  opacity: 0.4;
}

.grid-radio:hover + label::before,
.grid-radio:hover + label::after,
.grid-radio:focus + label::before,
.grid-radio:focus + label::after {
  opacity: 1;
}

.features-checbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.features-checbox:checked + label::before {
  width: 25px;
  background-image: url(../img/checkbox-on.svg);
}

.features-checbox:hover + label::before,
.features-checbox:focus + label::before {
  opacity: 1;
}

.features-checbox:disabled + label::before {
  opacity: 0.1;
}

.features-checbox:disabled + label{
  opacity: 0.3;
}

.filter-btn {
  width: 260px;
  padding: 17px;
  line-height: 18px;
  color: var(--basic-font-black);
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  background-color: var(--basic-gray);
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color:var(--basic-gray-form-btn-hover);
}

.filter-btn:active {
  background-color:var(--basic-gray-form-btn-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.filter-btn:active span{
  opacity: 0.3;
}

/* Filter Sort */

.filter-sort {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}

.sort__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-font-black);
}

.sort__wrapper {
  display: flex;
  align-items: center;
}

.sort-list-one,
.sort-list-two{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.sort-list-one li:not(:last-child) {
  margin-right: 25px;
}

.sort-list-one a {
  opacity: 0.3;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-font-black);
}

.sort-list-one a:hover,
.sort-list-one a:focus {
  opacity: 0.6;
}

.sort-list-one a:active {
  opacity: 1;
}

.sort-list-one .active,
.sort-list-two .active {
  opacity: 1;
  cursor: default;
}

.sort-list-one {
  margin-right: 47px;
}

.sort-item-down {
  margin-right: 18px;
  width: 11px;
  height: 10px;
  background-image: url(../img/icon-down-dir.svg);
  opacity: 0.3;
  cursor: pointer;
}

.sort-item-up {
  width: 11px;
  height: 10px;
  background-image: url(../img/icon-up-dir.png);
  opacity: 0.3;
  cursor: pointer;
}
